{% extends "base.html" %}

{%- block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% from "macros.html" import render_field %}
<form method="POST" action="">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <fieldset>
        {{ form.email.label }}
        {{ render_field(form.email, class="form-control", placeholder=_("Email")) }}
    </fieldset>

    <fieldset>
        {{ form.password.label }}
        {{ render_field(form.password, class="form-control", placeholder=_("Password")) }}
    </fieldset>
    <input type="submit" name="login" value='{{ _("Login") }}' class="btn-green btn"/>
</form>
{% endblock %}
