{% extends "base.html" %}

{% block content %}
{% from "macros.html" import render_field %}
<form method="POST" action="/register/account">
    {{ form.csrf_token }}
    <input type="hidden" name="next" value="{{ next }}"/>
    <fieldset>
        {{ render_field(form.first_name, class="form-control", placeholder="名", autofocus="") }}
    </fieldset>
    <fieldset>
        {{ render_field(form.last_name, class="form-control", placeholder="姓", autofocus="") }}
    </fieldset>
    <fieldset>
        {{ render_field(form.email, class="form-control", placeholder="邮箱") }}
    </fieldset>
    <fieldset>
        {{ render_field(form.password, class="form-control", placeholder="ming.pa55word") }}
    </fieldset>
    <fieldset>
        {{ render_field(form.confirm, class="form-control", placeholder="ming.pa55word") }}
    </fieldset>
    <fieldset>
        {{ render_field(form.accept_tos, class="form-control") }} Check to agree to <a href="">terms of services</a>
        <!--<label>ReCaptcha</label>-->
        <!--{{ form.recaptcha }}-->
    </fieldset>
    <button type="submit" value="Register" class="btn btn-primary">Register</button>
</form>
{% endblock %}